<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>document</title>
</head>
<body>
    {{>header}}
    <div class="app">
            {{{body}}}
    </div>
    {{>footer}}
</body>
</html>